$color-primary: rgb(66, 105, 121);
$color-white: #fff;
.bg-light {
    background-color: $color-primary !important;
    .navbar-brand {
        color: $color-white;
    }
    .navbar-nav li a {
        color: $color-white !important;
    }
}